<%

function getIngredientsArray(pizza) {
    //Отримує вміст піци
    var content = pizza.content;
    var result = [];

    //Object.keys повертає масив ключів в об’єкті JavaScript

    Object.keys(content).forEach(function(key){

        //a.concat(b) створює спільний масив із масивів a та b
        result = result.concat(content[key]);
    });

    return result;
}
%>

                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="thumbnail pizza-card">
                                <img class="pizza-img" src="<%= pizza.icon %>">

                                <div class="caption">
                                    <h3 class="pizza-name"><%= pizza.title %></h3>
                                    <lable class="pizza-type"><%= pizza.type %></lable>
                                    <p class="pizza-igradients">
                                        <%= getIngredientsArray(pizza).join(", "); %>
                                    </p>
                                    
                                    <div class="pizza-var-set">
                                        
                                        <% if(pizza.small_size) { %>
                                        <div class="pizza-var">

                                            <div class="pizza-param">
                                                <div class="pizza-param-diameter">
                                                    <img class="pizza-param-diameter-img" src="assets/images/size-icon.svg"/>
                                                    <span><%= pizza.small_size.size %></span>
                                                </div>
                                                <div class="pizza-param-weight">
                                                    <img class="pizza-param-weight-img" src="assets/images/weight.svg"/>
                                                    <span class="pizza-param-weight-value"><%= pizza.small_size.weight %></span>
                                                </div>
                                            </div>
                                            <div class="pizza-price">
                                                <div class="pizza-price-sum"><%= pizza.small_size.price %></div>
                                                <div class="pizza-price-currency">грн</div>
                                            </div>
                                            <div class="btn btn-warning pizza-buy-btn buy-small">Купити</div>

                                        </div> <% } %>
                                        <% if(pizza.big_size) { %>
                                        <div class="pizza-var">

                                            <div class="pizza-param">
                                                <div class="pizza-param-diameter">
                                                    <img class="pizza-param-diameter-img" src="assets/images/size-icon.svg"/>
                                                    <span><%= pizza.big_size.size %></span>
                                                </div>
                                                <div class="pizza-param-weight">
                                                    <img class="pizza-param-weight-img" src="assets/images/weight.svg"/>
                                                    <span class="pizza-param-weight-value"><%= pizza.big_size.weight %></span>
                                                </div>
                                            </div>
                                            <div class="pizza-price">
                                                <div class="pizza-price-sum"><%= pizza.big_size.price %></div>
                                                <div class="pizza-price-currency">грн</div>
                                            </div>
                                            <div class="btn btn-warning pizza-buy-btn buy-big">Купити</div>

                                        </div> 
                                        <% } %> 
                                    </div> 
                                </div>
                            </div>
                        </div>